.hero-section{
    background: url(../img/hero.jpg) no-repeat center;
    background-size: cover;
    opacity: 0.9;
}

.hero-section:before{
    background-color: rgba(0, 0, 0, 0.4);
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
}

.hero-section .container{
    height: 100vh;
    position: relative;
}

.hero-section h1{
    font-size: 1.5em;
}

.hero-section h2{
    font-size: 1em;
}
